@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<nav id="navbar" class="navbar">

<ul>
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
        <li class="nav-link scrollto">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
        <li class="nav-link scrollto">
        <a  asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
        <li class="nav-link scrollto">
                <a asp-area="Identity" asp-page="/Account/Login">Log in </a>

    </li>
}
</ul>
</nav>